.form-section {
  padding: 60px 0 140px;
  background: url("../img/decor-bottom.png") no-repeat bottom,
    url("../img/banner-decor-bottom.png") no-repeat top;
  background-color: $bg-light;

  &__heading {
    margin-top: 0;
    text-align: center;

    &--blue {
      color: $link;
      @media (max-width: 768px) {
        display: block;
      }
    }
  }

  &__wrap {
    position: relative;
    margin-top: 60px;
    padding: 40px 60px 0;
    background: $content-white;

    @media (max-width: 768px) {
      background-color: transparent;
      padding: 0;
      margin-top: 0;
    }
  }

  &__text {
    font-size: 20px;
    text-align: center;

    @media (max-width: 768px) {
      font-size: 38px;
      margin-bottom: 50px;
    }

    @media (max-width: 567px) {
      font-size: 18px;
      margin-bottom: 50px;
    }
  }

  &__form {
    width: 70%;
    margin-top: 60px;

    @media (max-width: 991px) {
      width: 100%;
      margin-top: 0;
    }
  }

  &__pic {
    width: 30%;
    margin-top: -20px;

    @media (max-width: 991px) {
      width: 100%;
      text-align: center;
    }

    &-img {
      position: relative;
      top:70px;
      left: -45px;
      max-width: 100%;

      @media (max-width: 991px) {
        position: static;
      }
    }
  }
}