.form-section {
  padding: 60px 0 40px;
  background-color: $bg-light;

  &__heading {
    margin-top: 0;
    text-align: center;

    &--blue {
      color: $link;
    }
  }

  &__wrap {
    padding: 40px 50px;
    background-color: $content-white;
  }

  &__text {
    font-size: 20px;
    text-align: center;
  }
}