body {
  font-family: $ff;
  color: $content;
  font-size: 16px;
  line-height: 1.5;
}

* {
  outline: none;
}

h1,h2,h3 {
  font-family: $ff-accent;
  text-transform: uppercase;
  line-height: 1.2;
}

h2 {
  font-size: 52px;
  margin: 30px 0;
}

button.btn,
a.btn {
  padding: 3px 45px;
  border-radius: 20px;
  border: none;
  font-weight: 600;
  color: $content-white;
  text-decoration: none;
  background-color: $accent;
  cursor: pointer;
  outline: none;
  @include transition;

  &:hover {
    background-color: $accent-hover;
    color: $content-white;
  }

  &:active {
    background-color: $accent-active;
  }

  &:focus {
    background-color: $bg;
    color: $btn;
    box-shadow: 0px 0px 6px -1px $accent;
  }

  &:disabled {
    background-color: $disabled;
    color: $disabled-text;
  }
}

.ungutter {
  margin-right: -$gutter;
  margin-left: -$gutter;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

a {
  text-decoration: none;
  color: $link;
  @include transition;

  &:hover,
  &:active {
    color: $link-hover;
  }

  &:focus,
  &:disabled {
    color: $link-active;
  }
}