body {
  font-family: $ff;
  font-weight: 300;
  color: $content;
  font-size: 16px;
  line-height: 1.5;
}

main {
  overflow: hidden;
  padding-top: 70px;

  @media (max-width: 768px) {
    padding-top: 165px;
  }

  @media (max-width: 567px) {
    padding-top: 115px;
  }
}

* {
  outline: none;
}

h1,h2,h3 {
  font-family: $ff-accent;
  text-transform: uppercase;
  line-height: 1.2;
}

h2 {
  font-size: 52px;
  margin: 30px 0;

  @media (max-width: 768px) {
    font-size: 100px;
  }

  @media (max-width: 567px) {
    font-size: 45px;
    margin: 15px 0;
  }
}

button.btn,
a.btn {
  padding: 4px 50px;
  border-radius: 20px;
  border: none;
  font-weight: 600;
  color: $content-white;
  text-decoration: none;
  background-color: $accent;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  @include transition;
  line-height: normal;

  @media (max-width:768px) {
    font-size: 38px;
    padding: 25px 0;
    width: 100%;
    border-radius: 6px;
    text-align: center;
    border-bottom: 6px solid $accent-border;
  }

  @media (max-width:768px) {
    font-size: 18px;
    padding: 5px 0;
  }

  &:hover {
    background-color: $accent-hover;
    color: $content-white;
  }

  &:active {
    background-color: $accent-active;
  }

  &:focus {
    background-color: $bg;
    color: $btn;
    box-shadow: 0px 0px 6px -1px $accent;
  }

  &:disabled {
    background-color: $disabled;
    color: $disabled-text;
  }
}

a {
  text-decoration: none;
  color: $link;
  @include transition;

  &:hover,
  &:active {
    color: $link-hover;
  }

  &:focus,
  &:disabled {
    color: $link-active;
  }
}