$bg: #fff;
$bg-dark: #3f4049;
$accent: #64c800;
$content: #505a64;
$content-white: #fff;
$content-accent: #1b8aaa;
$gutter: 10px;
$ff: 'Open Sans', "Arial", sans-serif;
$ff-accent: 'Trade Gothic';
$ff-accent-second: 'Myriad Pro';