$shadow: #000;
$bg: #fff;
$bg-dark: #3f4049;
$bg-light: #f4f6f9;
$accent: #64c800;
$accent-hover: #67ad21;
$accent-active: #497f12;
$accent-border: #59b200;
$disabled: #f5f5f5;
$disabled-text: #c3c3c3;
$content: #505a64;
$content-white: #fff;
$content-accent: #1b8aaa;
$placeholder: #c3c3c3;
$btn: #888888;
$link: #1b8aaa;
$link-hover: #596799;
$link-active: #78c5db;
$menu: #fcfefd;
$border: #c3cfdc;
$border-hover: #bcbdbf;
$border-active: #e9e9e9;
$form-text: #9e9d9d;

$gutter: 10px;
$ff: 'Myriad Pro', "Arial", sans-serif;
$ff-accent: 'Trade Gothic';
$ff-accent-second: 'Open Sans', "Arial", sans-serif;

@mixin transition {
  transition: .5s ease;
}