.cards {
  margin-top: 11px;
  padding: 60px 0 40px;
  background: url("../img/banner-decor-bottom.png") no-repeat top, url("../img/banner-slider-decor-top.png") no-repeat bottom;

  &__slider {
    padding-bottom: 40px;
  }

    &__heading {
      margin-top: 0;
      text-align: center;
      color: $bg-dark;

      &--blue {
        color: $link;
      }
    }

    &__item {
      text-align: center;

      &-text {
        max-width: 90%;
        margin: 16px auto;
      }

      &-link {
        display: block;
        margin: 8px auto;
        max-width: 100px;
      }
    }

  img.cards__item-img {
    margin: 0 auto;
    width: auto;
    max-width: 100%;
  }

  .owl-nav {
    position: absolute;
    width: 100%;
    top:100px;
    display: flex;
    justify-content: space-between;
  }

  &-btn {
    width: 25px;
    height: 55px;
    border: none;
    background-color: transparent;
    background-image: url("../img/arrow.png");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

    &.disabled {
      background-image: url("../img/arrow-disable.png");
      background-repeat: no-repeat;
      background-position: center;
    }

    &--prev {
      transform: rotate(180deg);

      &.disabled {
        transform: none;
      }
    }

    &--next {
      &.disabled {
        transform: rotate(180deg);
      }
    }
  }

  .owl-stage-outer {
    background: url("../img/slider-bg.png") no-repeat -30px -10px;
  }
}