.cards {
  margin-top: 11px;
  padding: 60px 0 40px;
  background: url("../img/banner-decor-bottom.png") no-repeat top, url("../img/banner-slider-decor-top.png") no-repeat bottom;

  @media (max-width:768px) {
    padding-bottom: 125px;
  }

  @media (max-width:567px) {
    padding-bottom: 60px;
  }

  &__slider {
    padding-bottom: 40px;

    @media (max-width:768px) {
      padding-bottom: 135px;
    }

    @media (max-width:567px) {
      padding-bottom: 35px;
    }
  }

    &__heading {
      margin-top: 0;
      text-align: center;
      color: $bg-dark;

      @media (max-width:768px) {
        margin-bottom: 130px;
      }

      @media (max-width:567px) {
        margin-bottom: 30px;
      }

      &--blue {
        color: $link;

        @media (max-width: 768px) {
          display: block;
        }
      }
    }

    &__item {
      text-align: center;

      &-text {
        max-width: 90%;
        margin: 16px auto;

        @media (max-width:768px) {
          width: 100%;
          font-size: 38px;
        }

        @media (max-width:567px) {
          font-size: 18px;
        }
      }

      &-link {
        display: block;
        margin: 8px auto;
        max-width: 100px;

        @media (max-width:768px) {
          font-size: 48px;
          max-width: 38%;
        }

        @media (max-width:567px) {
          font-size: 18px;
          max-width: 38%;
        }
      }
    }

  img.cards__item-img {
    margin: 0 auto;
    width: auto;
    max-width: 100%;

    @media (max-width: 768px) {
      display: none;
    }
  }

  img.cards__item-img--mob {
    display: none;
    @media (max-width: 768px) {
      display: block;
      margin: 0 auto;
      width: auto;
      max-width: 70%;
    }
  }

  .owl-nav {
    position: absolute;
    width: 100%;
    top:100px;
    display: flex;
    justify-content: space-between;

    @media (max-width:768px) {
      top: 210px;
      padding: 0 20px;
      box-sizing: border-box;
    }

    @media (max-width:768px) {
      top:100px;
      padding: 0;
    }
  }

  &-btn {
    width: 25px;
    height: 55px;
    border: none;
    background-color: transparent;
    background-image: url("../img/arrow.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;

    @media (max-width:768px) {
      width: 60px;
      height: 90px;
    }

    @media (max-width:567px) {
      width: 25px;
      height: 35px;
    }

    &.disabled {
      background-image: url("../img/arrow-disable.png");
      background-repeat: no-repeat;
      background-position: center;
    }

    &--prev {
      transform: rotate(180deg);

      &.disabled {
        transform: none;
      }
    }

    &--next {
      &.disabled {
        transform: rotate(180deg);
      }
    }
  }

  .owl-stage-outer {
    background: url("../img/slider-bg.png") no-repeat -30px -10px;

    @media (max-width:768px) {
      background: url("../img/slider-bg-mob.png") no-repeat -30px -10px;
      background-size: contain;
    }
  }
}