.header {
  padding: 10px 0;
  background-color: $bg-dark;

  &__logo {
    padding-right: $gutter;
  }

  &__menu {
    &-item {
      color: $menu;
      text-decoration: none;

      &:hover {
        color: $menu;
        text-decoration: underline;
      }

      &:focus {
        color: $bg;
      }

      &:active {
        color: $menu;
        text-shadow: 0px 4px 3px $shadow;
      }
    }
  }

  .header__btn {
    float: right;
    padding: 7px 47px;
  }
}