.banner {
  &__item {
    position: relative;
    &-wrap {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 1;
    }

    &-info {
      margin-top: 180px;
      height: 60%;
      display: flex;
      flex-direction: column;
      text-align: center;
      color: $content-white;
    }

    &-container {
      height: 100%;
    }

    &-heading {
      font-family: $ff-accent;
      font-size: 82px;
      text-transform: uppercase;
      line-height: .9;

      &--green {
        color: $accent;
      }
    }

    &-text {
      margin:25px auto;
      font-family: $ff-accent-second;
      font-size: 25px;
      line-height: 1.5;
      flex-grow: 1;
    }

    &-mark {
      font-size: 18px;
      font-family: $ff-accent;
      text-transform: uppercase;

      &--green {
        color: $accent;
      }
    }
  }

  .owl-dots {
    position: relative;
    top: -50px;
    z-index: 1;
  }
  &.owl-theme .owl-dots .owl-dot span {
    width: 8px;
    height: 8px;
  }

  &.owl-theme .owl-dots .owl-dot.active span {
    position: relative;
    top: 3px;
    width: 12px;
    height: 12px;
    background: $accent;
  }
}