.form-block {
    &__row {
      display: flex;
      margin-bottom: 15px;
      align-items: center;

      @media (max-width: 768px) {
        flex-direction: column;
        align-items: flex-start;
      }
    }

  &__label {
    color: $link;
    font-size: 16px;
    width: 20%;
    font-family: $ff-accent-second;
    font-weight: 400;

    @media (max-width: 768px) {
      width: 100%;
      margin-bottom: 30px;
      font-size: 40px;
    }

    @media (max-width: 567px) {
      font-size: 16px;
      margin-bottom: 15px;
    }
  }

  &__input {
    height: 38px;
    padding: 0 15px;
    width: 80%;
    border: 1px solid $border;
    font-family: $ff-accent-second;
    color: $form-text;

    @media (max-width: 768px) {
      height: 78px;
      width: 100%;
      border: 3px solid $border;
      border-radius: 4px;
      font-size: 30px;
      box-sizing: border-box;
    }

    @media (max-width: 768px) {
      height: 38px;
      font-size: 16px;
      border: 1px solid $border;
    }

    &.active {
      border-color: $border-active;
      color: $form-text;
    }
    &::placeholder {
      font-family: $ff-accent-second;
      color: $border;
    }

    &:hover {
      border-color: $border-hover;

      &::placeholder {
        color: $border-hover;
      }
    }

    &:focus {
      border-color: transparent;
      box-shadow: 0px 0px 5px 1px $border-active;
      &::placeholder {
        color: $border-active;
      }
    }

    &:disabled {
      background-color: $disabled;
      border-color: $border-active;
      color: $border-hover;

      &::placeholder {
        color: $border-hover;
      }
    }
  }

  &__btn {
    margin-top: 30px;

    @media (max-width: 768px) {
      margin-top: 120px;
    }

    @media (max-width: 567px) {
      margin-top: 30px;
    }
  }
}